mixin welcome
  p Welcome


mixin depart

    .row.py-3.pl-3
    .col-12.col-md-8
      each sailing in departures
        .card.mt-4
          .card-body
            h4.card-title #{sailing.origin} to #{sailing.destination}
              h6.card-subtitle.text-muted.pt-1.float-left Departing at #{sailing.time}
              a.card-link.btn.btn-primary.float-right.my-3(href='/departures/reserve-ferry') Reserve Now